<%- include("partials/header") %>


<div class="jumbotron centered bk">
  <div class="container bk">
  <i class="fas fa-comments fa-6x"></i>
    <h1 class="display-3"> message </h1>
    <p class="lead">Leave a message downbelow</p>
    <hr>
    <a class= "btn btn-outline-primary btn-lg" href="/register">Register</a>
    <a class= "btn btn-outline-primary btn-lg" href="/login">Longin</a>

  </div>
</div>

<%- include("partials/footer") %>
