<%- include("partials/header") %>
<div class="jumbotron">
  <div class="container">
    <i class="fas fa-comments fa-6x"></i>
    <h1 class="display-4">This is the message</h1>
    <p>I love bread!</p>
    <hr>

    <a class= "btn btn-outline-primary btn-lg" href="/logout">Logout</a>
    <a class= "btn btn-outline-primary btn-lg" href="/submit">Submit</a>

  </div>

</div>
<%- include("partials/footer")%>
