<%- include("partials/header") %>

<div class="">

  <h1>Resister</h1>
  <div class="bk">
    <div class="bk">
      <div class="bk">
        <div class="bk">
          <form action="/register" method="POST">
            <div class="bk ">
              <label for="email">Email</label>
              <input type="email" name="username" >

            </div>
            <div class="">
              <label for="">Password</label>
              <input type="password" name="password" >

            </div>
            <button type="submit" name="button">Register</button>
          </form>

        </div>
      </div>
    </div>
  </div>

</div>

<%- include("partials/footer")%>
